apiVersion: v1
kind: Service
metadata:
  name: mon-app-devops-svc
  namespace: {{ namespace }}
spec:
  selector:
    app: mon-app-devops
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP